{% extends "base.html" %}  {% block content %}

<h4>4. Adding forms to a room</h4>
<p>This example demonstrates how to attach forms to a Docusign Room.</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API methods used:
    <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms::GetRooms</a>,
    <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/FormLibraries/GetFormLibraries">Forms::GetFormLibraries</a>,<br/>
    <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/FormLibraries/GetFormLibraryForms">Forms::GetFormLibraryForms</a> and
    <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/AddFormToRoom">Rooms::AddFormToRoom</a>
</p>

<form class="eg" action="" method="post" data-busy="form">
    {% if rooms %}
    <div class="form-group">
        <label for="room_id">Room</label>
            <select class="form-control" id="room_id" name="room_id">
                {% for room in rooms %}
                    <option value="{{ room.room_id }}">{{ room.name }}</option>
                {% endfor %}
            </select>
    </div>
    <div class="form-group">
        <label for="form_id">Form</label>
            <select class="form-control" id="form_id" name="form_id">
                {% for form in forms %}
                    <option value="{{ form.library_form_id }}">{{ form.name }}</option>
                {% endfor %}
            </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
    {% else %}
      <p>Problem: please first create a room using <a href="eg001">example 1</a> or <a href="eg002">example 2</a> <br/>
            Thank you.</p>
    {% endif %}
  </form>
{% endblock %}
