{% extends "base.html" %}
{% block content %}

{% set formNumber = 0 %}
{% set roomNameInputNumber = 0 %}
{% set templateInputNumber = 1 %}
{% set redirectNumber = 0 %}

<h4>{{ code_example_text['ExampleName'] | raw }}</h4>

<p>{{ code_example_text["ExampleDescription"] | raw }}</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
  {% if code_example_text["LinksToAPIMethod"] | length == 1 %}
      <span>{{ common_texts["APIMethodUsed"] | raw }}</span>
  {% else %}
      <span>{{ common_texts["APIMethodUsedPlural"] | raw }}</span>
  {% endif %}

  {% for i in 0..(code_example_text["LinksToAPIMethod"] | length - 1) %}
      <a target='_blank' href="{{ example['LinksToAPIMethod'][i]['Path'] }}">
      {{ code_example_text['LinksToAPIMethod'][i]['PathName'] | raw}}
      </a>

      {% if  i + 1 == code_example_text["LinksToAPIMethod"] | length - 1 %}
        <span>and</span>
      {% elseif i + 1 != code_example_text["LinksToAPIMethod"] | length %}
        <span>,</span>
      {% endif %}
  {% endfor %}
</p>

<p>
   {{ common_texts["ViewSourceFile"]|replace({ ("{0}"): ("<a target='_blank' href='%s'>%s</a>"|format(source_url, source_file)) })| raw }}
  </p>

<form class="eg" action="" method="post" data-busy="form">
    {% if templates %}
    <div class="form-group">
      <label for="room_name">
        {{ code_example_text['Forms'][formNumber]['Inputs'][roomNameInputNumber]['InputName'] | raw }}
      </label>

      <input type="text"
        class="form-control" 
        id="room_name" 
        placeholder="{{code_example_text['Forms'][formNumber]['Inputs'][roomNameInputNumber]['InputPlaceholder']}}"
        name="room_name" 
        required>
    </div>
    <div class="form-group">
        <label for="template_id">
          {{ code_example_text['Forms'][formNumber]['Inputs'][templateInputNumber]['InputName'] | raw }}
        </label>

        <select class="form-control" id="template_id" name="template_id">
            {% for template in templates %}
                <option value="{{ template.room_template_id }}">{{ template.name }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">{{ common_texts["SubmitButton"] | raw }}</button>
    {% else %}
    {{ code_example_text['RedirectsToOtherCodeExamples'][redirectNumber]['RedirectText'] | raw }}
    {% endif %}
  </form>
  
{% endblock %}

