{% extends "base.html" %}
{% block content %}

{% set formNumber = 0 %}
{% set formGroupInputNumber = 0 %}
{% set formInputNumber = 1 %}

<h4>{{ code_example_text['ExampleName'] | raw }}</h4>

<p>{{ code_example_text["ExampleDescription"] | raw }}</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
    {% if code_example_text["LinksToAPIMethod"] | length == 1 %}
        <span>{{ common_texts["APIMethodUsed"] | raw }}</span>
    {% else %}
        <span>{{ common_texts["APIMethodUsedPlural"] | raw }}</span>
    {% endif %}
  
    {% for i in 0..(code_example_text["LinksToAPIMethod"] | length - 1) %}
        <a target='_blank' href="{{ example['LinksToAPIMethod'][i]['Path'] }}">
        {{ code_example_text['LinksToAPIMethod'][i]['PathName'] | raw}}
        </a>

        {% if  i + 1 == code_example_text["LinksToAPIMethod"] | length - 1 %}
            <span>and</span>
        {% elseif i + 1 != code_example_text["LinksToAPIMethod"] | length %}
            <span>,</span>
        {% endif %}
    {% endfor %}
  </p>

<p>
   {{ common_texts["ViewSourceFile"]|replace({ ("{0}"): ("<a target='_blank' href='%s'>%s</a>"|format(source_url, source_file)) })| raw }}
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="form_group_id">
            {{ code_example_text['Forms'][formNumber]['Inputs'][formGroupInputNumber]['InputName'] | raw }}
        </label>

        <select class="form-control" id="form_group_id" name="form_group_id">
            {% for form_group in form_groups %}
            <option value="{{ form_group.formGroupId }}">{{ form_group.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="form_id">
            {{ code_example_text['Forms'][formNumber]['Inputs'][formInputNumber]['InputName'] | raw }}
        </label>

        <select class="form-control" id="form_id" name="form_id">
            {% for form in forms %}
            <option value="{{ form.libraryFormId }}">{{ form.name }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">{{ common_texts["SubmitButton"] | raw }}</button>
</form>

{% endblock %}
