{% extends "base.html" %}
{% block content %}
<h4>8. Grant office access to a form group</h4>
<p>
    This example demonstrates how to assign an office to a form group for your DocuSign Rooms for Real Estate
    account. Granting office access to a form group will enable you to filter which form groups are available based
    on that office.
</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API methods used:
    <a href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups"
       target="_blank">FormGroups:GetFormGroups</a>
    and
    <a href="https://developers.docusign.com/docs/rooms-api/reference/offices/offices/getoffices"
       target="_blank">Offices:GetOffices</a>
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="form_group_id">Form group</label>
        <select class="form-control" id="form_group_id" name="form_group_id">
            {% for form_group in form_groups %}
            <option value="{{ form_group.formGroupId }}">{{ form_group.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="office_id">Office</label>
        <select class="form-control" id="office_id" name="office_id">
            {% for office in offices %}
            <option value="{{ office.officeId }}">{{ office.name }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
  </form>
  
{% endblock %}

