{% extends "base.html" %}
{% block content %}
<h4>3. Creating a new clickwrap version</h4>
<p>
    This example demonstrates how to use the Click API to create a new version of a clickwrap.
    You can specify whether you require users who have previously accepted the clickwrap to accept the new version
    when they return to your website.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/createclickwrapversion">ClickWraps:createClickwrapVersion</a>
    and
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/getclickwrap/">ClickWraps:getClickwrap</a>
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="clickwrap_id">Clickwrap</label>
        <select class="custom-select" id="clickwrap_id" name="clickwrap_id">
            {% for clickwrap in args['clickwraps'] %}
            <option value="{{ clickwrap['clickwrap_id'] }}">{{ clickwrap['clickwrap_name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="clickwrap_name">New Name</label>
        <input type="text" class="form-control" id="clickwrap_name" name="clickwrap_name" required/>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
</form>

{% endblock %}
