{% extends "base.html" %}
{% block content %}
<h4>4. Get a list of clickwraps</h4>
<p>
    This example demonstrates how to get a list of clickwraps associated with a specific DocuSign user.
</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API methods used:
   <a target ='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/getclickwraps/">ClickWraps:getClickwraps</a>
</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
  </form>
  
{% endblock %}
