{% extends "base.html" %}
{% block content %}
<h4>8. Update user product permission profiles using an email address</h4>
<p>Demonstrates how to update user product permission profiles. There may only be one permission profile assigned to a user per product.</p>


{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
  API methods used:
  <a target='_blank' rel='noopener noreferrer'
     href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/getproductpermissionprofiles/">MultiProductUserManagement:getProductPermissionProfiles</a>,
  <a target="_blank" rel='noopener noreferrer'
     href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/adduserproductpermissionprofilesbyemail/">MultiProductUserManagement:addUserProductPermissionProfilesByEmail</a>.
</p>


<p>
  View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

{% if args["email_address"] != null %}
  <form class="eg" action="" method="post">
    <p>Update user product permission profile for the following email: <b>{{ args["email_address"] }}</b></p>

    <div class="form-group">
      <label for="Products">Choose a product for which you want to update the permission profile</label>
      <select id="Products" name="Products" class="form-control">
        {% for key, value in args['products'] %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="PermissionProfilesFiltered">Choose a permission profile</label>
      <select id="PermissionProfilesFiltered" name="PermissionProfilesFiltered" class="form-control">
        {% for profile in args['clm_permission_profiles'] %}
        <option value="{{ profile['permission_profile_id'] }}">{{ profile['permission_profile_name'] }}</option>
        {% endfor %}
      </select>
    </div>

    <div id="PermissionProfilesData" class="hidden" data-value="{{ args['permission_profiles'] }}"></div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  <p class="">
    Problem: You do not have the user to change permissions for. Go to example#2 and create one:
    <a href="{{ app_url ~ 'index.php?page=aeg002'}}">create active CLM/eSign User.</a> <br/>
  </p>
{% endif %}
  
{% endblock %}
