{% extends "base.html" %}
{% block content %}

<h4>2. {{ title }}</h4>
<p>Demonstrates how to create a new DocuSign user (valid for both CLM and eSignature) and activate their account automatically.</p>


{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
    API methods used:
    <a target='_blank' rel='noopener noreferrer' 
        href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/getproductpermissionprofiles/">MultiProductUserManagement:getProductPermissionProfiles</a>,  
    <a target='_blank' rel='noopener noreferrer' 
        href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/getdsgroups/">MultiProductUserManagement:getDsGroups</a>,  
    <a target='_blank' rel='noopener noreferrer' 
        href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/addorupdateuser/">MultiProductUserManagement:addOrUpdateUser</a>.
</p>


<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" required>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email"
            aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


    {% if args['eSignPermissionProfiles'] and args['eSignPermissionProfiles']|length > 0  %}
        <div class="form-group">
            <label for="eSignPermissionProfileId">eSignature Permission Profile</label>
            <select id="eSignPermissionProfileId" name="eSignPermissionProfileId" class="form-control">
                {% for profile in args['eSignPermissionProfiles']['permission_profiles'] %}
                    <option value="{{ profile['permission_profile_id'] }}"> {{ profile['permission_profile_name'] }} </option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <p>Problem: please first create an eSignature permission profile.</a>
            </br>Thank you.</p>
    {% endif %}

    {% if args['clmPermissionProfiles'] and args['clmPermissionProfiles']|length > 0 %}
        <div class="form-group">
            <label for="clmPermissionProfileId">CLM Permission Profile</label>
            <select id="clmPermissionProfileId" name="clmPermissionProfileId" class="form-control">
                {% for profile in args['clmPermissionProfiles']['permission_profiles'] %}
                    <option value="{{ profile['permission_profile_id'] }}"> {{ profile['permission_profile_name'] }} </option>
                {% endfor %}
            </select>
        </div>
    {% else  %}
        <p>Problem: please first create a clm permission profile.</a>
            </br>Thank you.</p>
    {% endif %}


    {% if args['dsGroups'] and args['dsGroups']|length > 0  %}
        <div class="form-group">
            <label for="dsGroupId">DocuSign Admin Group</label>
            <select id="dsGroupId" name="dsGroupId" class="form-control">
                {% for group in args['dsGroups'] %}
                    <option value="{{ group['ds_group_id'] }}"> {{ group['group_name'] }} </option>
                {% endfor %}
            </select>
        </div>
    {%  else  %}
        <p>Problem: please first create a DocuSign Admin group.</a>
            </br>Thank you.</p>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-docu">Submit</button>
    <div class="form-group">
        <label for="clmProductId"></label>
        <input type="hidden" class="form-control" id="clmProductId" name="clmProductId" value="{{ args['clmProductId'] }}" >
    </div>
    <div class="form-group">
        <label for="esignProductId"></label>
        <input type="hidden" class="form-control" id="eSignProductId" name="eSignProductId" value="{{ args['eSignProductId'] }}" >
    </div>
</form>

{% endblock %}
