{% extends "base.html" %}
{% block content %}

{% set redirectToSecondCodeExample = "href='" ~ app_url ~ "index.php?page=aeg002'" %}
{% set redirectNumber = 0 %}
{% set formNumber = 0 %}
{% set productInputNumber = 0 %}
{% set permissionInputNumber = 1 %}


<h4>{{ code_example_text['ExampleName'] | raw }}</h4>

<p>{{ code_example_text["ExampleDescription"] | raw }}</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
  {% if code_example_text["LinksToAPIMethod"] | length == 1 %}
      <span>{{ common_texts["APIMethodUsed"] | raw }}</span>
  {% else %}
      <span>{{ common_texts["APIMethodUsedPlural"] | raw }}</span>
  {% endif %}

  {% for i in 0..(code_example_text["LinksToAPIMethod"] | length - 1) %}
      <a target='_blank' href="{{ example['LinksToAPIMethod'][i]['Path'] }}">
      {{ code_example_text['LinksToAPIMethod'][i]['PathName'] | raw}}
      </a>

      {% if  i + 1 == code_example_text["LinksToAPIMethod"] | length - 1 %}
        <span>and</span>
      {% elseif i + 1 != code_example_text["LinksToAPIMethod"] | length %}
        <span>,</span>
      {% endif %}
  {% endfor %}
</p>


<p>
 {{ common_texts["ViewSourceFile"]|replace({ ("{0}"): ("<a target='_blank' href='%s'>%s</a>"|format(source_url, source_file)) })| raw }}
</p>

{% if args["email_address"] != null %}
  <form class="eg" action="" method="post">
    <p>{{ code_example_text['Forms'][formNumber]['FormName']|replace({ ("{0}"): args["email_address"] }) | raw }}</p>

    <div class="form-group">
      <label for="Products">
        {{ code_example_text['Forms'][formNumber]['Inputs'][productInputNumber]['InputName'] | raw }}
      </label>

      <select id="Products" name="Products" class="form-control">
        {% for key, value in args['products'] %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="PermissionProfilesFiltered">
        {{ code_example_text['Forms'][formNumber]['Inputs'][permissionInputNumber]['InputName'] | raw }}
      </label>
      
      <select id="PermissionProfilesFiltered" name="PermissionProfilesFiltered" class="form-control">
        {% for profile in args['clm_permission_profiles'] %}
        <option value="{{ profile['permission_profile_id'] }}">{{ profile['permission_profile_name'] }}</option>
        {% endfor %}
      </select>
    </div>

    <div id="PermissionProfilesData" class="hidden" data-value="{{ args['permission_profiles'] }}"></div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary">{{ common_texts["SubmitButton"] | raw }}</button>
  </form>
{% else %}
  <p>
    {{ code_example_text['RedirectsToOtherCodeExamples'][redirectNumber]['RedirectText']|replace({ ("{0}"): redirectToSecondCodeExample }) | raw }}
  </p>
{% endif %}
  
{% endblock %}
