{% extends "base.html" %}
{% block content %}

<h4 id="example07">Retrieve the user's DocuSign profile using a User ID</h4>
<p>
  Demonstrates how to get user profile data by user ID.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
  API method used:
  <a target="_blank" rel='noopener noreferrer'
     href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/getuserdsprofile/">MultiProductUserManagement:getUserDSProfile</a>.
</p>

<p>
  View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="user_id">User ID</label>
    <input type="text" class="form-control" id="user_id" name="user_id"
           placeholder="00000000-0000-0000-0000-000000000000" required
           pattern="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}">
  </div>

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <button type="submit" class="btn btn-docu">Continue</button>
</form>
{% endblock %}
