{% extends "base.html" %}
{% block content %}
<h4>2. How to bulk-export user data</h4>
<p>
    This example shows how to bulk-export user data
</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API method used:
  <a target='_blank' rel='noopener noreferrer'
     href='https://developers.docusign.com/docs/admin-api/reference/bulkoperations/userexport/getuserlistexports/'>UserExport:getUserListExports</a>.
</p>
  
<form class="eg" action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit" class="btn btn-docu">Continue</button>
</form>
{% endblock %}
