{% extends "base.html" %}
{% block content %}
<h4>4. Add users via bulk import</h4>
<p>
    Demonstrates how to bulk import users and add user data from an example CSV (comma-separated value) file into a DocuSign Admin organization.
</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API methods used:
    <a target='_blank' rel='noopener noreferrer'
       href='https://developers.docusign.com/docs/admin-api/reference/bulkoperations/userimport/addbulkuserimport/'>UserImport:addBulkUserImport</a>, 
    <a target='_blank' rel='noopener noreferrer' 
       href='https://developers.docusign.com/docs/admin-api/reference/bulkoperations/userimport/getbulkuserimportrequest/'>UserImport:getBulkUserImportRequest</a>.
</p>

<p>
  View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

<form class="eg" action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  
{% endblock %}
