{% extends "base.html" %}  {% block content %}

{% set formNumber = 0 %}
{% set redirectTo16CodeExample = "href='" ~ app_url ~ "index.php?page=eg016'" %}
{% set redirectToCodeExample = app_url ~ "index.php?page=eg016" %}
{% set redirectNumber = 0 %}

<h4>{{ code_example_text['ExampleName'] | raw }}</h4>

<p>{{ code_example_text["ExampleDescription"] | raw }}</p>


{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
    {% if code_example_text["LinksToAPIMethod"] | length == 1 %}
        <span>{{ common_texts["APIMethodUsed"] | raw }}</span>
    {% else %}
        <span>{{ common_texts["APIMethodUsedPlural"] | raw }}</span>
    {% endif %}
  
    {% for i in 0..(code_example_text["LinksToAPIMethod"] | length - 1) %}
        <a target='_blank' href="{{ example['LinksToAPIMethod'][i]['Path'] }}">
        {{ code_example_text['LinksToAPIMethod'][i]['PathName'] | raw}}
        </a>
  
        {% if  i + 1 == code_example_text["LinksToAPIMethod"] | length - 1 %}
            <span>and</span>
        {% elseif i + 1 != code_example_text["LinksToAPIMethod"] | length %}
            <span>,</span>
        {% endif %}
    {% endfor %}
  </p>

<p>
   {{ common_texts["ViewSourceFile"]|replace({ ("{0}"): ("<a target='_blank' href='%s'>%s</a>"|format(source_url, source_file)) })| raw }}
</p>

{% if envelope_ok %}
<p>{{ code_example_text['Forms'][formNumber]['FormName']|replace({ ("{0}"): redirectToCodeExample }) | raw }}</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">{{ common_texts["ContinueButton"] | raw }}</button>
</form>

{% else %}
<p>
    {{ code_example_text['RedirectsToOtherCodeExamples'][redirectNumber]['RedirectText']|replace({ ("{0}"): redirectTo16CodeExample }) | raw }}
</p>

<form class="eg" action="{{ app_url ~ 'index.php' }}" method="get">
    <input type="hidden" name="page" value="eg016"/>
    <button type="submit" class="btn btn-docu">{{ common_texts["ContinueButton"] | raw }}</button>
</form>
{% endif %}

{% endblock %}
