{% extends "base.html" %}  {% block content %}

<h4>12. Embedded DocuSign web tool</h4>
<p>Redirect the user to the DocuSign web tool.</p>
<p>Use this API call to open the DocuSign web tool, the NDSE (New DocuSign Signing Experience),
    with the user already logged in.</p>
<p>The starting view can be either an envelope's documents or the web tool's front page.</p>
<p>The user does not necessarily return from the NDSE, so using this API call is often a final
    step for your application.
    Or you can open the NDSE in a new tab for the user.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API method used:
    <a target ='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createConsole">EnvelopeViews::createConsole</a>.
</p>

<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

{% if not envelope_ok %}
<p><b>Optional:</b> to use the <i>Envelope's document view</i> please first create an envelope using
    <a href="{{ app_url ~ 'index.php?page=' }}eg002">example 2.</a></p>
{% endif %}

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="starting_view">Starting View</label>
        <select id="starting_view" name="starting_view" class="form-control">
            <option value="front_page" selected>Front page</option>
            <option value="envelope" {% if not envelope_ok %}disabled="true"{% endif %} >
                The envelope's documents view</option>
        </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Continue</button>
</form>

{% endblock %}
