{% extends "base.html" %}  {% block content %}

<h4>24. {{ title }}</h4>
<p>
    This code example demonstrates how to create a new permission profile.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
    API method used:
    <a href="https://developers.docusign.com/esign-rest-api/reference/Accounts/AccountPermissionProfiles/create" target="_blank">Accounts::createPermissionProfile</a>
</p>

<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="permission_profile_name">Permissions profile name</label>
        <input type="text" class="form-control" id="permission_profile_name" placeholder="Permission profile name"
               name="permission_profile_name" value="{{ permission_profile_name }}" required>
    </div>

    <div class="form-group">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-docu">Submit</button>
    </div>
</form>
{% endblock %}

