{% extends "base.html" %}  {% block content %}

<h4>23. ID Verification based Recipient Authentication</h4>
<p>Anchor text
    (<a href="https://support.docusign.com/en/guides/AutoPlace-New-DocuSign-Experience">AutoPlace</a>)
    is used to position the signing fields in the documents.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create">Envelopes::create</a>.
</p>

<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signer_email">Signer Email</label>
        <input type="email" class="form-control" id="signer_email" name="signer_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="{{ signer_email }}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signer_name">Signer Name</label>
        <input type="text" class="form-control" id="signer_name" placeholder="Pat Johnson" name="signer_name"
               value="{{ signer_name }}" required>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
</form>

{% endblock %}
