{% extends "base.html" %}  {% block content %}

<h4>32. {{ title }}</h4>

<p>This example demonstrates how to create an envelope where the workflow is paused before the
    envelope is sent to a second recipient.</p>
<p>The envelope includes a .txt document.</p>
<p>For resuming a workflow see <a href="{{ app_url ~ 'index.php?page=eg033'}}">example 33.</a></p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">

    <h5>Signer #1</h5>
    <div class="form-group">
        <label for="signer1_email">Email</label>
        <input type="email" class="form-control" id="signer1_email" name="signer1_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="{{ signer_email }}" />
        <small class="form-text text-muted emailHelp">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signer1_name">Name</label>
        <input type="text" class="form-control" id="signer1_name" placeholder="Pat Johnson" name="signer1_name"
               value="{{ signer_name }}" required />
        <br/>
    </div>
    <h5>Signer #2</h5>
    <div class="form-group">
        <label for="signer2_email">Email</label>
        <input type="email" class="form-control" id="signer2_email" name="signer2_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required />
        <small class="form-text text-muted emailHelp">The email for the second recipient must be different from the signer's email.</small>
    </div>
    <div class="form-group">
        <label for="signer2_name">Name</label>
        <input type="text" class="form-control" id="signer2_name" placeholder="Pat Johnson" name="signer2_name"
               required />
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
</form>
{% endblock %}