<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ app_url ~ 'assets/favicon.ico' }}">
  <title>{{ title }}</title>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="{{ app_url ~ 'assets/css.css' }}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="https://developers.docusign.com/">DocuSign Examples</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ app_url }}">Home <span class="sr-only">(current)</span></a>
      </li>

      {% if session['ds_user_name'] %}
      <li>
        <a class="nav-link" href="{{ app_url ~ 'index.php?page=ds_logout' }}" id="logout"
           data-busy="href">Logout <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li>
        <a class="nav-link" href="{{ app_url ~ 'index.php?page=must_authenticate' }}" id="login"
           data-busy="href">Login <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>

    {% if session['ds_user_name'] %}
    <span class="navbar-text">
            Welcome {{ session['ds_user_name'] }}
          </span>
    {% endif %}

  </div>
</nav>

<!-- 
  {% if session['ds_account_name'] %}
  <p>DocuSign Account: {{ session['ds_account_name'] }}.</p>
  {% endif %} -->

  <div class="col-md-12 feedback" id="feedback">
    <h3>Working...&nbsp;&nbsp;&nbsp;<span></span></h3>
  </div>

  <section id="busy" class="feedback"><div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  </section>

  <p id="download-continue" class="feedback"><a href="{{ app_url }}">Continue</a></p>


  {% if session['ds_user_name'] %}
  <div class="container">
    <section id="content" style="padding-top:30px;">
  {% endif %}

  {% if not session['ds_user_name'] %}

  <div class="container-full-bg">
    <section id="content" style="margin-top:-60px!important; padding-top:30px!important;">
      {% endif %}
      
    {% block content %}{% endblock %}
  </section>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.core.min.js" integrity="sha256-yEkk5ZYVs/fZgvxWU+sCb8bHTk9jScxIaZQD+CZ4vcg=" crossorigin="anonymous"></script>

<script src="{{ app_url ~ 'assets/notify.min.js' }}"></script> <!-- see https://notifyjs.jpillora.com/ -->
<script src="{{ app_url ~ 'assets/eg_03.js' }}"></script>

<!-- Data from the server -->
<!-- Goal: flash messages are sent as
    <div id="server_data"
    data-server-data='{"flash":{"info":["msg1", "msg2"]}}'
    class="hidden"></div>
-->
<div id="server_data"
     data-server-data='{"flash": {"info": {{ get_flash() | json_encode() | raw }} } }'
     class="hidden">
</div>
</body>
</html>