{% extends "base.html" %}  {% block content %}

<h4>9. Send an envelope using a template</h4>
<p>The envelope is defined by the template.
    The signer and cc recipient name and email are used to fill in the template's <i>roles</i>.</p>

<p>This example demonstrates a common pattern for DocuSign integrations: envelopes will
    be sent programmatically, based on a template. If the template definition needs to be
    updated, the DocuSign web tool can be used to easily update the template, thus
    avoiding the need to make software changes.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create">Envelopes::create</a>.
</p>
<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

{% if template_ok %}
<p>The template you created via example 8 will be used.</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signer_email">Signer Email</label>
        <input type="email" class="form-control" id="signer_email" name="signer_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="{{ signer_email }}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signer_name">Signer Name</label>
        <input type="text" class="form-control" id="signer_name" placeholder="Pat Johnson" name="signer_name"
               value="{{ signer_name }}" required>
    </div>
    <div class="form-group">
        <label for="cc_email">CC Email</label>
        <input type="email" class="form-control" id="cc_email" name="cc_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
        <small id="emailHelpCC" class="form-text text-muted">The email for the cc recipient must be different from the signer's email.</small>
    </div>
    <div class="form-group">
        <label for="cc_name">CC Name</label>
        <input type="text" class="form-control" id="cc_name" placeholder="Pat Johnson" name="cc_name"
               required>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
</form>

{% else %}
<p>Problem: please first create the template using <a href="{{ app_url ~ 'index.php?page=' }}eg008">example 8.</a> <br/>
    Thank you.</p>
<form class="eg" action="{{ app_url ~ 'index.php' }}" method="get">
    <input type="hidden" name="page" value="eg008"/>
    <button type="submit" class="btn btn-docu">Continue</button>
</form>
{% endif %}

{% endblock %}
