{% extends "base.html" %}  {% block content %}

<h4>29. {{ title }}</h4>
<p>
    The envelope includes a pdf document.
</p>

<p>
    This code example demonstrates how to apply a brand to an envelope.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> about this example.</p>
{% endif %}

<p>
    Api method used:
    <a href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create" target="_blank">Envelopes::Create</a>.
</p>

<p>
    View source file <a target="_blank" href="{{ source_url | raw }}">{{ source_file }}</a> on GitHub.
</p>

{% if brands %}
<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signer_email">Signer Email</label>
        <input type="email" class="form-control" id="signer_email" name="signer_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="{{ signer_email }}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="signer_name">Signer Name</label>
        <input type="text" class="form-control" id="signer_name" placeholder="Pat Johnson" name="signer_name"
               value="{{ signer_name }}" required>
    </div>

    <div class="form-group">
        <label for="brand_id">Brand</label>
        <select id="brand_id" name="brand_id" class="form-control">
            {% for brand in brands %}
            <option value="{{ brand.brand_id }}">{{ brand.brand_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-docu">Submit</button>
    </div>
</form>
{% elseif not brands %}
<p>Problem: please first create the brand using <a href="{{ app_url ~ 'index.php?page=' }}eg024">example 24.</a>
    <br />
    Thank you.
</p>

<form class="eg" action="{{ app_url ~ 'index.php' }}" method="get">
    <input type="hidden" name="page" value="eg024"/>
    <button type="submit" class="btn btn-docu">Continue</button>
</form>
{% endif %}
{% endblock %}
