{% extends "base.html" %}
{% block content %}

{% if not session['ds_user_name'] %}
<!-- IF not signed in -->
<div>
    <div class="jumbotron jumbotron-fluid"> <table>
      <tbody>
      <tr>
      <td>
        <h1 class="display-4">PHP Launcher</h1>
      <p class="Xlead">{{ common_texts["HomePageText"] | raw }}</p>
      </td>
      <td>
          <img src="{{ app_url ~ 'assets/banner-code.png' }}" />
      </td>
    </tr>
    </tbody>
    </table>
  </div> 
{% endif %}

<!--  Future: add a table of contents or navigation pane
      Eg, see https://stackoverflow.com/questions/21868610/make-column-fixed-position-in-bootstrap
-->

<div class="container" style="margin-top: 40px" id="index-page">
    {% if show_doc %}
    <p><a target='_blank' href='{{ documentation | raw }}'>Documentation</a> on using OAuth Authorization Code Grant from a
        PHP application.</p>
    {% endif %}

    {% for groups in launcher_texts %}
      <h2>{{ groups["Name"] | raw }}</h2>

      {% for example in groups["Examples"] %}
        {% if (example["SkipForLanguages"] == null) or  ('php' not in (example["SkipForLanguages"]|lower)) %}
          <h4 id="{{ 'example' ~ '%03d'|format(example['ExampleNumber']) }}">
            <a href="{{ app_url ~ 'index.php?page=' ~ 'eg%03d'|format(example['ExampleNumber']) }}">
              {{ example["ExampleName"] | raw }}
            </a>
          </h4>

          <p>
            {{ example["ExampleDescription"] | raw }}
          </p>

          <p>
            {% if example["LinksToAPIMethod"] | length == 1 %}
              <span>{{ common_texts["APIMethodUsed"] | raw }}</span>
            {% else %}
              <span>{{ common_texts["APIMethodUsedPlural"] | raw }}</span>
            {% endif %}

            {% for i in 0..(example["LinksToAPIMethod"] | length - 1) %}
              <a target='_blank' href="{{ example['LinksToAPIMethod'][i]['Path'] }}">
                {{ example['LinksToAPIMethod'][i]['PathName'] | raw}}
              </a>

              {% if  i + 1 == example["LinksToAPIMethod"] | length - 1 %}
                <span>and</span>
              {% elseif i + 1 != example["LinksToAPIMethod"] | length %}
                <span>,</span>
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
      {% endfor %}
    {% endfor %}
</div>

<!-- anchor-js is only for the index page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script>anchors.options.placement = 'left'; anchors.add('h4')</script>

{% endblock %}
 
