{% extends "base.html" %}
{% block content %}


<div class="jumbotron jumbotron-fluid">
    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="display-4">PHP Launcher</h1>
                <p class="Xlead">Welcome to the PHP code examples for DocuSign Monitor API with JWT Grant authentication</p>
            </td>
            <td>
                <img src="{{ app_url ~ 'assets/banner-code.png' }}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 40px" id="index-page">

    <h2>Monitor API Code Examples</h2>

    <h4 id="example-c001">
        1. <a href="{{ app_url ~ 'index.php?page=meg001'}}">Get monitoring data</a>
    </h4>
    <p>
        Demonstrates how to get and display all of your organization’s monitoring data.
    </p>
    <p>API method used: 
        <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstreamfordataset/">DataSet:GetStream</a>.
    </p>
</div>

<!-- anchor-js is only for the index page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script>
    anchors.options.placement = 'left';
    anchors.add('h4')
</script>

{% endblock %}
