{% extends "base.html" %}
{% block content %}

<div style="margin:1% 5%;">
    <form method="post" data-busy="form" action="{{app_url ~ 'index.php?page=ds_login'}}">
        <div class="form-group">
            {{ common_texts["LoginPage"]["LoginHeader"] | raw }}
            <select class="form-control col-md-5" id="auth_type" name="auth_type">
                <option value="code_grant">Authorization Code Grant</option>
                <option value="jwt">JWT (JSON Web Token)</option>
            </select>
        </div>

        <div class="form-group col-md-5 chooseApiTypeStyle" style="padding-top: .5rem;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-docu">{{ common_texts["LoginPage"]["LoginButton"] | raw }}</button>
        </div>

    </form>
    <hr class="my-4">
    <p>{{ common_texts["LoginPage"]["LoginHelperText"] | raw }}</p>
</div>
{% endblock %}
