{% extends "base.html" %}
{% block content %}
<div style="margin:1% 5%;">
    <h1 class="display-4">Please Authenticate with DocuSign</h1>

    <form method="post" data-busy="form" action="{{app_url ~ 'index.php?page=ds_login'}}">
    <div class="form-group col-md-5">
        <label for="auth_type">Please choose your authentication type</label>
        <select class="form-control" id="auth_type" name="auth_type">
            <option value="code_grant">Authorization Code Grant</option>
            <option value="jwt">JWT (JSON Web Token)</option>
        </select>
        <p class="lead" style="padding-top: .5rem;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-docu">Authenticate with DocuSign</button>
        </p>
    </div>
    </form>
    <hr class="my-4">
    <p>You need to authenticate with DocuSign to continue your request.</p>
</div>
{% endblock %}
